:root {
    --container-color: hsl(110, 72%, 79%);
    --grid-item-color: hsl(162, 81%, 69%);
}


p {
    font-size: 16px;
}

#introduction {
    height: 150px;
    width: 100%;
    background-color: var(--container-color);
}

@media only screen and (min-width: 576px) {
    #introduction {
        background-color: red;
    }

    p {
        color: red;
    }
}

@media only screen and (min-width: 786px) {
    #introduction {
        background-color: greenyellow;
    }

    p {
        color: greenyellow;
    }
}

@media only screen and (min-width: 992px) {
    #introduction {
        background-color: blue;
    }

    p {
        color: blue;
    }
}